<div class="widget-wrap" itemscope itemtype="http://schema.org/Person" itemprop="author" >
    <h3 class="widget-title">
        About
        <span itemprop="name"><%- config.author %></span>
    </h3>
    <style>
        /* Use for round responsive profile picture*/

        .circle {
            position: relative;
            border-radius: 50%;
            width: 100%;
            height: auto;
            background: white;
        }

        .twitter{
            color:#1da1f2;
        }
        .github{
            color:black;
            background-color: white;
        }
        .twitter::before {
            content: "\f099";
        }

        .github::before {
            content: "\f09b";
        }
        .social {
            padding-top: 10px;
        }

        i.fa  {
            font-family: FontAwesome;
            font-size: 3em;
            font-style: normal;
            display: inline-block;
            border-radius: 50%;            
        }
        .widget .social a:hover {
            text-decoration: none;
        }
    </style>
    <div class="widget" >
        <p itemprop="image">
            <img src="<%-config.author_image_url %>" class="circle" alt="<%- config.author%>" />
        </p>
        <p itemprop="description">
            <%-config.author_description %>
        </p>

        <p class="social">
            <% if(config.twitter) {%>
                <a alt="Twitter" href="https://twitter.com/<%- config.twitter%>" onclick="window.open(this.href); return false;">
                    <i class="fa twitter"></i>
                </a>
                <% } %>
                    <% if(config.github) {%>
                        <a alt="GitHub" href="https://github.com/<%- config.github%>" onclick="window.open(this.href); return false;">
                            <i class="fa github"></i>
                        </a>
                        <%  }%>
        </p>

    </div>
</div>